In [2]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
np.random.seed(1234)
df_1 = pd.DataFrame({'A': ['a', 'b', 'c', 'd']*5,
                     'B': np.random.randn(20),
                     'C': np.random.randint(7, size=20)})
df_2 = pd.read_csv('../data/pandas_2_df_2.csv')
df_3 = pd.read_csv('../data/pandas_2_df_3.csv')

# Assignment 2.1
Find the minimum, maximum and median values of all columns for each unique value in column `A` in DataFrame `df_1`

In [4]:
df_1.groupby('A').agg(['min', 'max', 'median'])

          B                       C
        min       max    median min max median
A
a -0.720589  0.953324  0.405453   3   6      3
b -2.242685  0.887163 -1.190976   0   6      3
c -0.334077  1.432707  1.150036   1   4      3
d -1.546906  0.991946 -0.312652   1   3      2

# Assignment 2.2
For each unique combination of values from columns `A` and `C`, find the average of the values in column `B`. Return a DataFrame with columns `A`, `B_avg` and `C`, where `B_avg` holds the result of the average over the `B` column, while `A` and `C` hold the values for the unique combinations.

In [12]:
df_1.groupby(['A','C'])['B'].mean().rename('B_avg').reset_index()

    A  C     B_avg
0   a  3  0.042999
1   a  6  0.953324
2   b  0 -1.190976
3   b  3 -2.131970
4   b  4  0.887163
5   b  6  0.289092
6   c  1  0.859588
7   c  2  1.150036
8   c  3  1.432707
9   c  4  0.493540
10  d  1 -0.277480
11  d  2 -0.155267
12  d  3 -0.636524

# Assignment 2.3
The DataFrame `df_2` contains students' ID (`student_id`), their ID's of the courses (`course_id`) and their grade (`grade`). Compute, for every student, the ratio of grades that are A's or B's.
<details><summary>Hint 1</summary>
    <p>
        The `groupby` method on a pandas DataFrame has the possibility to group by the index values by using `.groupby(level=0)`
    </p>
</details>
<details><summary>Hint 2</summary>
    <p>
        Applying a numerical aggregate function to a Boolean Series, leads pandas interpreting True as a 1 and False as a 0
    </p>
</details>

In [9]:
df_2.groupby('student_id')['grade'].apply(lambda s: s.isin(['A', 'B']).mean())

student_id
1    0.250000
2    0.000000
3    0.333333
4    0.000000
5    0.333333
6    0.000000
7    0.200000
8    1.000000
Name: grade, dtype: float64

# Assignment 2.4
The DataFrame `df_3` contains a series of columns named after the pattern `variable name`_`time lag`. Compute the average over all time lags for every variable name for every record. Return a DataFrame with the `customer_id` as index and the average of every variable as columns.

# Assignment 2.5
Valid address for every record in customer table, taken from historic address table